@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* setting brand colours/themes to use throughout the react code */
    --light-yellow-color: #F1F2E3;
	--dark-yellow-color: #414503;
	--darker-yellow-color: #252804;
	/* --logo-font: "Grenze Gotisch", serif; */
	--logo-font: "Bungee Shade", serif;
}

body {
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body.login-page {
	/* Photo by Leone Venter on Unsplash: 
	https://unsplash.com/photos/magic-keyboard-beside-mug-and-click-pen-VieM9BdZKFo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash */
    background: url('../dist/loginbg.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.custom-input {
    background-color: var(--darker-yellow-color);
	color: whitesmoke
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
